name: Deploy Servlet App

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]
jobs:
   deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up JDK and Maven
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
        maven-version: '3.8.1'

    - name: Build with Maven
      run: mvn clean package   

    - name: Copy WAR file to IIS directory
      run: |
        cd target
        dir
        del "C:/java/sample-0.0.1-SNAPSHOT.jar"
        Copy-Item -Path "D:\a\sample-java-app\sample-java-app\target\  java -jar sample-0.0.1-SNAPSHOT.jar" -Destination "C:/java" -Force
          
        
    - name: Restart IIS
      run: |
        # Restart IIS to apply changes
